[Unit]
Description=tmff-auto-update

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/home/tobias/tmff/tmff-auto-update.sh
WorkingDirectory=/home/tobias/tmff
StandardOutput=append:/home/tobias/tmff/watcher-stdout.log
StandardError=append:/home/tobias/tmff/watcher-stderr.log
User=root
Group=root

[Install]
WantedBy=multi-user.target