[Unit]
Description=tmff-discord-app

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/home/tmffuser/tmff-discord-app
WorkingDirectory=/home/tmffuser
StandardOutput=append:/home/tmffuser/logs/stdout.log
StandardError=append:/home/tmffuser/logs/stderr.log
User=tmffuser
Group=tmffuser

[Install]
WantedBy=default.target