[Unit]
Description=tmff-auto-update

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/home/tmffuser/tmff-auto-update.sh
WorkingDirectory=/home/tmffuser
StandardOutput=append:/home/tmffuser/logs/watcher-stdout.log
StandardError=append:/home/tmffuser/logs/watcher-stderr.log
User=root
Group=root

[Install]
WantedBy=multi-user.target